{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}


    <div class="d-flex justify-content-center">
        <h1>Hello! ✅</h1>

        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button class="btn btn-primary">Valider</button>
        {{ form_errors(sortieForm) }}





{#        <div class="form-group">#}
{#            {{ form_label(sortieForm.nom) }}#}
{#    #}{#        {{ form_widget(sortieForm.nom),  }}#}
{#            {{ form_errors(sortieForm.nom) }}#}
{#        </div>#}

    {#    <div class="form-group">#}
    {#        {{ form_label(sortieForm.dateHeureDebut) }}#}
    {#        {{ form_widget(sortieForm.dateHeureDebut) }}#}
    {#        {{ form_errors(sortieForm.dateHeureDebut) }}#}
    {#    </div>#}

    {#    <div class="form-group">#}
    {#        {{ form_label(sortieForm.dateLimiteInscription) }}#}
    {#        {{ form_widget(sortieForm.dateLimiteInscription) }}#}
    {#        {{ form_errors(sortieForm.dateLimiteInscription) }}#}
    {#    </div>#}

    {#    <div class="form-group">#}
    {#        {{ form_label(sortieForm.nbInscriptionsMax) }}#}
    {#        {{ form_widget(sortieForm.nbInscriptionsMax) }}#}
    {#        {{ form_errors(sortieForm.nbInscriptionsMax) }}#}
    {#    </div>#}

    {#    <div class="form-group">#}
    {#        {{ form_label(sortieForm.duree) }}#}
    {#        {{ form_widget(sortieForm.duree),  }}#}
    {#        {{ form_errors(sortieForm.duree) }}#}
    {#    </div>#}

    {#    <div class="form-group">#}
    {#        {{ form_label(sortieForm.infosSortie) }}#}
    {#        {{ form_widget(sortieForm.infosSortie),  }}#}
    {#        {{ form_errors(sortieForm.infosSortie) }}#}
    {#    </div>#}

{#    <div class="mt-3">#}
{#        {{ form_row(sortieForm.creer, {'attr': {'class':'btn btn-info'}}) }}#}
{#    </div>#}

    </div>
    {{ form_end(sortieForm) }}
{% endblock %}



{#        (sortieForm), {'method': 'POST'}#}
