{% extends 'base.html.twig' %}

{% block title %}Sorties ENI !
    {# | {{ parent() }} #}
{% endblock %}

{% block body %}

<div class="les-sorties">
    <h1>Nos
        {#        {{ sorties }} #}
        ! ✅</h1>

{#    {% for sortie in sorties %}#}
{#    {{ sortie.nom }}#}
{#    {% endfor %}#}

    <table>
        <thead>
        <tr>
            <th>Name
                {#                {{  }} #}
                {#                {%  %} #}
            </th>
            <th>Date</th>
            <th>Durée</th>
            <th>Date limite d'inscription</th>
            <th>Nombre de places</th>
            <th>Détails</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | format_datetime(locale: 'fr', timezone: false) }}</td>
            <td>{{ sortie.duree }}</td>
            <td>{{ sortie.dateLimiteInscription | format_datetime(locale: 'fr', timezone: false) }}</td>
            <td>{{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.infosSortie }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
